img{
    width: 50%;
    height: 30%;
}
h1{
    text-align: center;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h4{
    font-size: 30px;
}
.giaithich img{
    width: 200px;
    height: 150px;
}